<div ng-controller="customerController">
  <h5 class="blue-grey-text">Add New Customer</h5>

  <!--New Customer Section-->
  <div class="row">
    <form name="customerForm" novalidate class="col s5">
      <label for="name">Customer Name</label>
      <input name="customer" placeholder="Name.." id="name" type="text" ng-model="newCustomer.name" ng-required="customerForm">
      <ul>
        <!--<li ng-if="customerForm.$submitted && !customerForm.customer.$valid" class="red-text">Customer Name Required</li>-->
        <li ng-if="customerErrors.error" class="red-text" ng-bind="customerErrors.message"></li>
      </ul>
      <button type="submit" class="btn-flat blue accent-3" ng-click="createCustomer()">Submit Customer</button>
    </form>
    <div class="col s2"> </div>
    <form class="col s5">
      <label for="search">Filter Customers</label>
      <input placeholder="Search.." id="search" ng-model="customerSearch">
    </form>
  </div>

  <!--All Customers Section-->
  <h4 class="center blue-grey-text">Current Customers: {{customers.result.length}} </h4>
  <div>
    <table class="centered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <tr ng-repeat="customer in customers.result | filter:customerSearch | orderBy: '-createdAt' ">
        <td ng-bind="customer.name"></td>
        <td ng-bind="customer.createdAt | date:'h:mm:ss a EEEE MMMM dd yyyy'"></td>
        <td><button class="btn-flat red" value="{{customer._id}}" ng-click="deleteCustomer(customer._id)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>

  <!--Bottom of page spacer-->
  <h1>&nbsp;</h1>
</div>
