<div ng-controller="productController">
  <h1>Products</h1>

  <div class="row">

    <!-- Create New Products -->
    <div class="col s3">
      <input placeholder="Search" ng-model="productSearch">
      <h5>Add A New Product</h5>
      <form>
        <label for="product-name">Enter The Name Of The Product</label>
        <input id="product-name" placeholder="Product Name" ng-model="newProduct.name">
        <label for="img-url">Enter The Url Of The Product Image</label>
        <input id="img-url" placeholder="Image Url" ng-model="newProduct.url">
        <label for="description">Enter A Detailed Description Of The Product</label>
        <textarea id="description" placeholder="Description" ng-model="newProduct.description"></textarea>
        <label for="quantity">Enter A Quantity Of The Product</label>
        <input type="number" placeholder="Number Only" id="quantity" ng-model="newProduct.quantity">
        <button type="submit" class="btn-flat waves-effect green-text grey lighten-3" ng-click="createProduct()">Add Product</button>
      </form>
    </div>

    <!--Section for all Products-->
    <div class="col s9">
      <div ng-repeat="product in products.result | filter:productSearch">
        <div class="col s1"></div>
        <div class="card small col s3">
          <div class="card-content center">
            <img height="80" src="{{product.url}}">
            <div class="card-title">{{product.name}}</div>
            <p><strong>Description: </strong>{{product.description}}</p>
            <p><strong>Quantity: </strong>{{product.quantity}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom of page spacer -->
  <h1>&nbsp;</h1>
</div>

